<section class="section section_customers" id="feedback">
  <div class="container">
    <h2 class="title_customers">What our Customers Say</h2>
    <p class="paragraf_customers">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="reviews">
      <ul class="reviews_list">
        <div class="reviews_first">
          <li class="reviews_item">
            <div class="reviews_icon">
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </div>
            <p class="reviews_paragraf">
              “The Best app I have used to order food in a while, so many options to choose from
              too, I would recommend to a freind, No questions asked”
            </p>
            <div class="people">
              <div class="people_img">
                <picture>
                  <source
                    srcset="./images/boy-1x.png 1x, ./images/boy-2x.png 2x, ./images/boy-3x.png 3x"
                  />
                  <img src="./images/boy-1x.png" alt="boy" width="48" height="48" />
                </picture>
              </div>
              <div class="about">
                <p class="about_name">Sumith Shah</p>
                <p class="about_nick">Some Dude</p>
              </div>
            </div>
          </li>

          <li class="reviews_item">
            <div class="reviews_icon">
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
              <svg class="reviews_svg" width="17" height="16">
                <use href="./images/icons.svg#star"></use>
              </svg>
            </div>
            <p class="reviews_paragraf">
              “The ease with which I can just go in and order what i want was amazing, It has been a
              very pleasant experience ordering from this app”
            </p>
            <div class="people">
              <div class="people_img">
                <picture>
                  <source
                    srcset="
                      ./images/girl-1x.png 1x,
                      ./images/girl-2x.png 2x,
                      ./images/girl-3x.png 3x
                    "
                  />
                  <img src="./images/girl-1x.png" alt="boy" width="48" height="48" />
                </picture>
              </div>
              <div class="about">
                <p class="about_name">Sumith Shah</p>
                <p class="about_nick">Some Dude</p>
              </div>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
