<section class="favorites section" id="favorites">
  <div class="favorites-wrap container">
    <h2 class="favorites__title">Some of Our Favorites</h2>
    <p class="favorites__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <ul class="favorites-set list">
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/gamburger1x-224.png 224w,
              ./images/favorites/gamburger1x-268.png 268w,
              ./images/favorites/gamburger1x-315.png 315w,
              ./images/favorites/gamburger2x-448.png 448w,
              ./images/favorites/gamburger2x-536.png 536w,
              ./images/favorites/gamburger2x-630.png 630w,
              ./images/favorites/gamburger3x-670.png 670w,
              ./images/favorites/gamburger3x-804.png 804w,
              ./images/favorites/gamburger3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/gamburger1x-315.png" alt="gamburger" />
        </div>
      </li>
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/pasta1x-224.png 224w,
              ./images/favorites/pasta1x-268.png 268w,
              ./images/favorites/pasta1x-315.png 315w,
              ./images/favorites/pasta2x-448.png 448w,
              ./images/favorites/pasta2x-536.png 536w,
              ./images/favorites/pasta2x-630.png 630w,
              ./images/favorites/pasta3x-670.png 670w,
              ./images/favorites/pasta3x-804.png 804w,
              ./images/favorites/pasta3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/pasta1x-315.png" alt="pasta" />
        </div>
      </li>
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/pizza1x-224.png 224w,
              ./images/favorites/pizza1x-268.png 268w,
              ./images/favorites/pizza1x-315.png 315w,
              ./images/favorites/pizza2x-448.png 448w,
              ./images/favorites/pizza2x-536.png 536w,
              ./images/favorites/pizza2x-630.png 630w,
              ./images/favorites/pizza3x-670.png 670w,
              ./images/favorites/pizza3x-804.png 804w,
              ./images/favorites/pizza3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/pizza1x-315.png" alt="pizza" />
        </div>
      </li>
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/chicken1x-268.png 268w,
              ./images/favorites/chicken1x-315.png 315w,
              ./images/favorites/chicken2x-536.png 536w,
              ./images/favorites/chicken2x-630.png 630w,
              ./images/favorites/chicken3x-804.png 804w,
              ./images/favorites/chicken3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/chicken1x-315.png" alt="chicken" />
        </div>
      </li>
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/salat1x-268.png 268w,
              ./images/favorites/salat1x-315.png 315w,
              ./images/favorites/salat2x-536.png 536w,
              ./images/favorites/salat2x-630.png 630w,
              ./images/favorites/salat3x-804.png 804w,
              ./images/favorites/salat3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/salat1x-315.png" alt="salat" />
        </div>
      </li>
      <li class="favorites-set__item">
        <div class="favorites-set__plate">
          <img srcset="
              ./images/favorites/borshch1x-268.png 268w,
              ./images/favorites/borshch1x-315.png 315w,
              ./images/favorites/borshch2x-536.png 536w,
              ./images/favorites/borshch2x-630.png 630w,
              ./images/favorites/borshch3x-804.png 804w,
              ./images/favorites/borshch3x-945.png 945w
            " sizes="(min-width: 1280px) 315px, (min-width: 768px) 268px, (max-width: 767px) 224px"
            src="./images/favorites/borshch1x-315.png" alt="borshch" />
        </div>
      </li>
    </ul>
  </div>
</section>