<footer class="section footer" id="contact">
  <div class="container">
    <div class="footer-page">
      <div class="footer__navigation">
        <div class="logo footer__logo">
          <a href="index.html" class="logo__link">
            <svg width="66" height="52">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <div class="nav footer__nav">
          <ul class="nav__list">
            <li class="nav__item nav__item--footer">
              <a href="#home" class="nav__link nav__link--footer">Home</a>
            </li>
            <li class="nav__item nav__item--footer">
              <a href="#about" class="nav__link nav__link--footer">About</a>
            </li>
            <li class="nav__item nav__item--footer">
              <a href="#favorites" class="nav__link nav__link--footer">Favorites</a>
            </li>
            <li class="nav__item nav__item--footer">
              <a href="#feedback" class="nav__link nav__link--footer">Feedback</a>
            </li>
            <li class="nav__item nav__item--footer">
              <a href="#contact" class="nav__link nav__link--footer">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="footer__subscribe">
          <h2 class="subscribe__name">Subscribe</h2>
          <form class="subscribe__form subscribe__form--footer" autocomplete="off" validate>
            <label for="email" class="subscribe__label"></label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Enter your email"
              class="subscribe__input subscribe__input--footer"
              required
            />
            <button type="submit" class="subscribe__button subscribe__button--footer">
              Subscribe
            </button>
          </form>
          <p class="subscribe__privacy-text">
            By subscribing you agree to with our
            <a href="" class="subscribe__privacy-link">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="footer__copyright copyright">
        <ul class="copyright__list">
          <li class="copyright__item">
            <a href="" class="copyright__link">Privacy Policy</a>
          </li>
          <li class="copyright__item">
            <a href="" class="copyright__link">Terms of Service</a>
          </li>
          <li class="copyright__item">
            <a href="" class="copyright__link">Cookies Settings</a>
          </li>
        </ul>
        <p class="copyright__text">2022 FoodSta. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
