<section class="hero section" id="home">
  <div class="container">
    <div class="hero__wrap">
      <h1 class="hero__title">Enjoy Your Favorite Food From Anywhere</h1>
      <p class="hero__desc">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
        elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
        commodo diam libero vitae erat.
      </p>
      <button type="button" class="hero__btn modal-open-button">Order Now</button>
    </div>
    <div class="hero__slider">
      <div class="slider single-item">
        <div class="slider__item">
          <img class="slider__photo" srcset="
              ./images/slider/slide-1@1x.png 1x,
              ./images/slider/slide-1@2x.png 2x,
              ./images/slider/slide-1@3x.png 3x
            " src="./images/slider/slide-1@1x.png" alt="dish" />
        </div>
        <div class="slider__item">
          <img class="slider__photo" srcset="
              ./images/slider/slide-2@1x.png 1x,
              ./images/slider/slide-2@2x.png 2x,
              ./images/slider/slide-2@3x.png 3x
            " src="./images/slider/slide-2@1x.png" alt="dish" />
        </div>
        <div class="slider__item">
          <img class="slider__photo" srcset="
              ./images/slider/slide-3@1x.png 1x,
              ./images/slider/slide-3@2x.png 2x,
              ./images/slider/slide-3@3x.png 3x
            " src="./images/slider/slide-3@1x.png" alt="dish" />
        </div>
      </div>
    </div>
  </div>
</section>