<ul>
    <li><button class="modal-open-button" type="button">Hi</button></li>
    <li><button type="button">No</button></li>
    <li><button class="modal-open-button" type="button">Hello</button></li>
    <li><button type="button">Nope</button></li>
    <li><button class="modal-open-button" type="button">Russian warship, go ... yourself</button></li>
    <li><button type="button">Not, really</button></li>
    <li><button class="modal-open-button" type="button">The last one</button></li>
    <li><button type="button">No, this. But not here</button></li>
</ul>